@charset "utf-8";
* { 
   
    margin: 0;
    padding: 0; 
    outline: none; 
    border-style: none;
    box-sizing: border-box;
    vertical-align: baseline;
}   

body {
    background-color:rgb(205, 200, 240);
    font-family: "Roboto", serif;
    font-optical-sizing: auto;
    font-weight: 80;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
}

.container {
    width: min(100% - 30px,1080px);
    margin-inline: auto;
}

h1 {
    margin-top:1pc;
    text-align: center;
    font-size: 5pc;
}

h2 {
    margin-top:40pc;
    font-size: 40pc;
    font-weight: 600;
}

.question{
    margin-top: 4pc;
    font-size: 120 pc;
    font-weight:400;
}

.answer {
    margin-top: 0.5pc;
    font-size: 120 pc;
}

