@charset "utf-8";
* { 
    margin: 0;
    padding: 0; 
    outline: none; 
    border-style: none;
    box-sizing: border-box;
    vertical-align: baseline;
}   

body {
    font-family: "Roboto", serif;
    font-optical-sizing: auto;
    font-weight: 80;
    font-style: normal;
    font-variation-settings:"wdth" 100;
}

.container {
    width: min(100% - 30px,1080px);
    margin-inline: auto;
    margin-top: 4pc;
}

h1 {
    background-color:rgb(197, 176, 252);
    margin-top: 4pc;
    text-align: center;
    font-size: 4.5pc;
}

.question {
    background-color:rgb(224, 212, 255);
    margin-top: 1pc;
    font-size: 1 pc;
    text-align: center;
    font-weight: 400;
}

.answer {
    margin-top: 0.5pc;
    font-size: 1pc;
}

footer {
    margin-top: 4pc;
    text-align: center;
    font-size: 0.75pc;
}